<table class="table  table-bordered ">
  <thead class="theader">
  <th>Id</th>
  <th>First Name</th>
  <th>Last Name</th>
  </thead>
  <tbody>
  <tr *ngFor="let student of students" (click)="selectStudent(student.id)"
      [ngClass]="{'tr-row-selected': studentSel && student.id===studentSel.id }">
    <td>
      <button class="btn btn-sm btn-info btn-outline-info" (click)="selectStudent(student.id)">Edit</button>
    </td>
    <td> {{student.firstName}}</td>
    <td> {{student.lastName}}</td>
  </tr>
  </tbody>

</table>
